@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 8s linear infinite;
  }
  .animate-sweep {
    animation: sweep 2.5s ease-in-out infinite alternate;
  }
}

@keyframes sweep {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

/* Custom Scrollbar to match dark aesthetic */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #070913;
}

::-webkit-scrollbar-thumb {
  background: #1e1b4b;
  border-radius: 5px;
  border: 2px solid #070913;
}

::-webkit-scrollbar-thumb:hover {
  background: #ec4899;
}
